<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="izz.css">
</head>

<body>
    <form action="">
        <div class="login_form">
            <div class="tittle">
                <h2>login here</h2>
            </div>
            <div class="input_group">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Name">
                <p>Error Message</p>
            </div>
            <div class="input_group">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Password">
                <p>Error Message</p>
            </div>
            <button type="submit" id="submit">login</button>
            <h3 style="text-transform: capitalize;font-size:16px;margin-top:7px;">don't you have account ? <a href="signup.html"> signup</a>here</h3>
            <div class="back">
                <button><a href="index.html">back to home</a></button>
            </div>
        </div>
    </form>
    <script src="izz.js"></script>
</body>

</html>